/* @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap'); */
@import '~bootstrap/scss/bootstrap';

body {
  /* background: url('https://i.imgur.com/suJVtff.jpg'); */
  background: url('https://i.imgur.com/dMIWrR3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  padding: 0;
}

body i {
  font-size: 25px;
}

header {
  background: url('https://i.imgur.com/JiL0iGt.jpg');
  background-size: cover;
  background-position: right center;
  color: white;
  padding: 72px 0 0 0;
}

h1 {
  padding: 0px;
  font-size: 3.5rem;
  /* font-weight: 900; */
  /* letter-spacing: 8px; */
  background: linear-gradient(to top, #e6ca1e 0%, #dd690c 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.34rem rgba(0,0,0,1));
}

h2 {
  text-align: center;
  /* background: linear-gradient(to top, #e6ca1e 0%, #dd690c 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

.skills i {
  /* gradient goes here */
  /* background: linear-gradient(to top, white 0%, #001745 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

a {
  color: black;
  text-decoration: none;
}

i {
  color: white;
}

.a-dark {
  padding: 10px;
  background: rgba(0,0,0,1);
  color: white;
}

.a-dark article {
  padding: 0;
}

.a-dark a, ul a {
  color: white;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,1);
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

div {
  padding: 20px;
}

.art{
  max-width: 100%;
}

.proj-img {
  max-width: 80%;
}

.col {
  text-align: center;
  align-items: center;
}

h1 {
	margin: 0;
  padding: 0;
}

header div {
  color: white;
  padding: 20px 0 50px 0;
}

header p {
  /* border: 7px solid rgba(255,255,255,0);
  /* border-radius: 100px; */
  /* filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

header a {
  color: white;
  /* border: 7px solid rgba(255,255,255,0); */
  /* border-radius: 100px; */
  /* filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

.skills i {
  font-size: 50px;
  padding: 7px;
}

.bio {
  padding: 0 15vw;
}

section .row {
  display: flex;
  text-align: justify;
  align-content: center;
  margin: 0 auto;
}

article {
  max-width: 500px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  text-align: justify !important;
}

@media (max-width: 800px) {
  h1 {
    font-size: 36px;
    /* padding: 20px; */
  }
  .skills i {
    font-size: 21px;
    padding: 1px;
  }
  li {
    padding: 5px;
    display: block;
  }
  .bio {
    padding: 15px;
  }
  section .row {
    display: block;
  }
  header .row {
    font-size: 17px;
  }
}

* {
  text-align: center;
  align-content: center;
}

.foot {
  margin-top: 55px;
}

.col-6 {
  width: 100%;
  display: block;
  padding: 20px;
}
header .row {
  background: rgba(0,0,6,.67);
  margin-top: 25px;
  padding: 20px 80px 20px 80px;
  font-size: 20px;
}

header .h1 {
  margin: 0;
}

@media (max-width: 800px) {
  section .row {
    display: block;
  }
  header .row {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
  }
}
