/* @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap'); */
@import '~bootstrap/scss/bootstrap';

header {
  background: url('https://i.imgur.com/suJVtff.jpg');
  background-size: cover;
  background-position: right center;
  color: white;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  padding: 0;
}

h1 {
  padding: 0px;
  font-size: 40px;
  /* font-weight: 900; */
  /* letter-spacing: 8px; */
  background: linear-gradient(to top, #e6ca1e 0%, #dd690c 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58));
}

h2 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.a-dark {
  padding: 10px;
  background: rgba(0,0,0,1);
  color: white;
}

.a-dark article {
  padding: 0;
}

.a-dark a, ul a {
  color: white;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,1);
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.top {
  height: 175px;
  margin: 40px 0px 0px 0px;
  border: 7px solid rgba(255,255,255,1);
  border-radius: 100px;
  filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58));
}

div {
  padding: 20px;
}

.art{
  max-width: 100%;
}

.proj-img {
  max-width: 80%;
}

.col {
  text-align: center;
  align-items: center;
}

h1 {
	margin: 0;
  padding: 72px 0 0 0;
}

header div {
  color: white;
  padding: 20px 0 50px 0;
}

header p {
  /* border: 7px solid rgba(255,255,255,0);
  /* border-radius: 100px; */
  /* filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

header a {
  color: white;
  /* border: 7px solid rgba(255,255,255,0); */
  /* border-radius: 100px; */
  /* filter: drop-shadow(0 0 0.29rem rgba(0,0,0,0.58)); */
}

.skills {
  font-size: 50px;
}

.bio {
  padding: 0 15vw;
}

section .row {
  display: flex;
  text-align: justify;
  align-content: center;
  margin: 0 auto;
}

article {
  max-width: 500px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  text-align: justify !important;
}

@media (max-width: 550px) {
  h1 {
    font-size: 36px;
    /* padding: 20px; */
  }
  .skills {
    font-size: 20px;
  }
  li {
    padding: 5px;
    display: block;
  }
  .bio {
    padding: 5px;
  }
}

* {
  text-align: center;
  align-content: center;
}

.foot {
  margin-top: 55px;
}

.col-md-5 p {}
